# App
APP_PORT=8501
APP_LOG_LEVEL=INFO
APP_ENV=dev

# Modele
DEFAULT_MODEL=resnet50          # resnet50 | vit_b_16
MODEL_CACHE_DIR=/app/.cache/torch
DEVICE=cpu                       # cpu | cuda

# XAI defaults
IG_STEPS=50
SMOOTHGRAD_SAMPLES=50
SMOOTHGRAD_SIGMA=0.15
OCCLUSION_PATCH=32
OCCLUSION_STRIDE=16
LIME_SAMPLES=300                 # 1000 = ladniej, 300 = szybciej na CPU
LIME_SEGMENTS=50

# Traefik (host)
APP_HOSTNAME=xai.local.pl
